$ff-sans: "Lato", sans-serif;
$ff-header: "Abril Fatface", sans-serif;

$font-sizes: (
  80: 5rem,
  60: 3.75rem,
  27: 1.6875rem,
  21: 1.3125rem,
  18: 1.125rem,
  16: 1rem,
);

$fw-400: 400;
$fw-700: 700;
