@use "../abstracts" as *;
@use "../utilities/" as *;

.four-col {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
}

.hero-content {
    max-width: 1120px;
    margin: 0 auto;
}

.amazing-food {
    display: flex;
    gap: 48px;

    img {
        max-width: 600px;
        margin-top: -64px;
    }
}

.meal-img-ctr {
    position: relative;

    img {
        max-width: 100%;
    }
}

.img-caption{
    position: absolute;
    bottom: 0px;
    padding: 32px;
    background-color: rgba(33, 33, 33, .5);
    backdrop-filter: blur(5px);
    width: 100%;
    display: none;
}

.meal-img-ctr:hover .img-caption {
    display: block;
  }

.testimonial-img {

    img {
        max-width: 100%;
    }
}

.testimonial-ctr{
    position: relative;
}

.testimonial {
    padding: 80px;
    margin-bottom: 80px;
}

.testimonial-name {
    background-color: #F9F9F9;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
}  