@use "../abstracts" as *;

.button {
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: fw-bold;
    padding: 1em 1.5em;
    justify-self: center;

    &-primary {
        color: clr(neutral, 900);
        background-color: clr(primary, 400);
    }

    &-secondary {
        color: clr(neutral, 100);
        // border: 5px solid var(--neutral-100, #FFF);

        box-shadow:  inset 0 0 0 5px clr(neutral, 100);
        background-color: transparent;
    }

}